<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Acerca de esta app</h1>
  <div class="container">
    <div class="card">
      <p>Una pequeña aplicación web para esconder y revelar mensajes secretos en imágenes</p>
      <a href="/" class="btn">Volver al inicio</a>
    </div>
  </div>
</body>
</html>

 <a>Copyright © 2025 Govierno De RPQ<a>
<a>Todos los derechos reservados.<a>
 <a> </a>
<a>hv mrgd frsldod wrgr or txh txlhudv<a>