<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Créditos</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Créditos</h1>
  <div class="container">
    <div class="card">
      <ul>
        <li>Backend: Flask + Stepic</li>
        <p> </p>
        <li>Frontend: HTML, CSS, PYTHON y JS</li>
        <p> </p>
        <li>Hecho para: hackers y usuarios normales</li>
      </ul>
      <a href="/" class="btn">Volver al inicio</a>
    </div>
  </div>
</body>
</html>

 <a>Copyright © 2025 Govierno De RPQ<a>
<a>Todos los derechos reservados.<a>
 <a> </a>
<a>hv mrgd frsldod wrgr or txh txlhudv<a>